<!DOCTYPE html>

<html lang="pt" th:replace="~{fragments/layout :: layout (~{::body},'bancas', )}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Banca</title>
</head>

<body>


<h2 th:if="${banca.id} == null">Nova Banca</h2>
<h2 th:if="${banca.id} != null">Dados da Banca</h2>

<form th:action="@{/banca/create}" th:method="post" th:object="${banca}">

    <input id="id" th:field="*{id}" type="hidden"/>

    <div class="form-group col-md-6">
        <label>avaliador 01</label>
        <label>
            <select name="professor" class="form-control" th:field="*{orientador}" th:required="true">
                <option th:value="null" selected>Escolha</option>
                <option th:each="professor : ${professores}" th:value="${professor.id}"
                        th:text="${professor.nome}"></option>
            </select>
        </label>
    </div>
    

    <div class="form-group col-md-6">
        <label>avaliador 02</label>
        <label>
            <select name="professor" class="form-control" th:field="*{orientador}" th:required="true">
                <option th:value="null" selected>Escolha</option>
                <option th:each="professor : ${professores}" th:value="${professor.id}"
                        th:text="${professor.nome}"></option>
            </select>
        </label>
    </div>
    
    <div class="form-group col-md-6">
        <label>orientador</label>
        <label>
            <select name="professor" class="form-control" th:field="*{orientador}" th:required="true">
                <option th:value="null" selected>Escolha</option>
                <option th:each="professor : ${professores}" th:value="${professor.id}"
                        th:text="${professor.nome}"></option>
            </select>
        </label>
    </div>
    


    <button type="submit">Enviar</button>
</form>


</body>

</html>