<!DOCTYPE html>

<html lang="pt" th:replace="~{fragments/layout :: layout (~{::body},'bancas', )}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Banca</title>
</head>

<body>


<h2 th:if="${banca.id} == null">Nova Banca</h2>
<h2 th:if="${banca.id} != null">Dados da Banca</h2>

<form th:action="@{/banca/create}" th:method="post" th:object="${banca}">

    <input id="id" th:field="*{id}" type="hidden"/>

    <label>Avaliador 01</label>
    <input id="avaliador_1" th:field="*{avaliador1}"/>

    <label>Avaliador 02</label>
    <input id="avaliador_2" th:field="*{avaliador2}"/>

    <label>Orientador</label>
    <input id="orientador" th:field="*{orientador}"/>


    <button type="submit">Enviar</button>
</form>


</body>

</html>