 <!DOCTYPE html>

<html lang="pt" xmlns:th="https://www.thymeleaf.org" 
th:replace="~{fragments/layout :: layout (~{::body},'banca')}">
	<head>
		<title>Banca</title>
		<meta charset="UTF-8">
	</head>
	
  <body>

  <br class="container-fluid"/>

  <h2 class="text-center">Banca</h2>

  <p class="text-center">Veja a lista de bancas:</p>

  <div th:if="${#messages}"></div>

  <div class="row-cols-3">
	  <a th:href="@{/bancas/create}" class="btn btn-primary btn-lg">Criar</a>
  </div>

  <br class="container-fluid"/>

  <table class="table table-hover table-dark">
	  <thead>
	  <tr>
		  <th scope="col">#</th>
		  <th scope="col">Autor</th>
		  <th scope="col">Orientador</th>
		  <th scope="col">Avaliador</th>
		  <th scope="col">Avaliador</th>
		  <th scope="col"></th>
	  </tr>
	  </thead>
	  <tbody>
	  <tr th:each="banca, count : ${bancas}">
		  <th scope="row" th:text="${count.count}"></th>
		  <td><p th:text="${banca.autor}"></p></td>
		  <td><p th:text="${banca.orientador}"></td>
		  <td><p th:text="${banca.avaliador1}"></td>
		  <td><p th:text="${banca.avaliador2}"></td>
		  <td><a th:href="@{/bancas/__${banca.id}__}" class="btn btn-outline-success">Visualizar</a></td>
		  <td>
			  <form th:action="@{/bancas/__${banca.id}__}" th:method="delete" />
			  <button th:type="submit" class="btn btn-outline-danger">Excluir</button>
			  </form>
		  </td>
	  </tr>
	  </tbody>
  </table>

  </body>

</html>