<!DOCTYPE html>

<html lang="pt" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'professores' )}">
<head>
    <title>Professor</title>
</head>

<body>
<div class="container-fluid">

    <h2 th:if="${professor.id} != null">Dados do Professor:</h2>
    <h2 th:if="${professor.id} == null">Novo Professor</h2>

    <form th:action="@{/professores/create}" th:method="post" th:object="${professor}">

        <input type="hidden" id="id" th:field="*{id}"/>

        <label for="matricula">Matricula</label>
        <input id="matricula" th:type="number" th:required="true" th:field="*{matricula}"/>

        <label for="nome">Nome</label>
        <input id="nome" th:type="text" th:required="true" th:field="*{nome}"/>

        <label for="email">Email</label>
        <input id="email" th:type="email" th:required="true" th:field="*{email}"/>

        <label for="cpf">CPF</label>
        <input id="cpf" th:type="number" th:required="true" th:field="*{cpf}"/>

        <label for="telefone">Telefone</label>
        <input id="telefone" th:type="number" th:required="true" th:field="*{telefone}"/>

        <label for="titulo">Titulacao</label>
        <select id="titulo" name="titulo" class="form-control" th:required="true" th:field="*{titulo}">
            <option th:value="null" selected>Escolha...</option>
            <option th:each="tituloProfessor : ${titulacoes}" th:value="${tituloProfessor.getId()}"
                    th:text="${tituloProfessor.descricao}"></option>
        </select>

        <button th:if="${professor.id} == null" type="submit">Enviar</button>
        <button th:if="${professor.id} != null" type="submit">Atualizar</button>

        <div th:if="${#fields.hasAnyErrors()}" class="row" id="alert_box">
            <p th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
        </div>

    </form>
</div>

</body>

</html>