<!DOCTYPE html>

<html lang="pt" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'professores' )}">
<head>
    <title>Professor</title>
</head>

<body>
<div class="container-fluid">

    <h2 th:if="${professor.id} != null">Dados do Professor:</h2>
    <h2 th:if="${professor.id} == null">Novo Professor</h2>

    <form th:action="@{/professores/create}" th:method="post" th:object="${professor}">

        <input type="hidden" id="id" th:field="*{id}"/>

        <label for="matricula">Matricula</label>
        <input id="matricula" th:field="*{matricula}"/>

        <label for="nome">Nome</label>
        <input id="nome" th:field="*{nome}"/>

        <label for="email">Email</label>
        <input id="email" th:field="*{email}"/>

        <label for="cpf">CPF</label>
        <input id="cpf" th:field="*{cpf}"/>

        <label for="telefone">Telefone</label>
        <input id="telefone" th:field="*{telefone}"/>

        <button th:if="${professor.id} == null" type="submit">Enviar</button>
        <button th:if="${professor.id} != null" type="submit">Atualizar</button>

        <div th:if="${#fields.hasAnyErrors()}" class="row" id="alert_box">
            <p th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
        </div>

    </form>
</div>

</body>

</html>