 <!DOCTYPE html>

<html lang="pt" xmlns:th="https://www.thymeleaf.org" 
th:replace="~{fragments/layout :: layout (~{::body},'professor')}">
	<head>
		<title>Professor</title>
		<meta charset="UTF-8">
	</head>
	
  <body>

	<div class="container-fluid">
	
	<h2>Professor</h2>
    
    <p>Veja a lista de professores:</p>
    
    <div th:if="${mensagem}"></div>
    
    <a type="button" th:href="@{/professores/create}">Criar</a>
    
    
	<table>
		<thead>
		<tr>
			<th>NOME</th>
			<th>EMAIL</th>
			<th>MATRICULA</th>
			<th>CPF</th>
			<th>TELEFONE</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="professor : ${professores}">
			<td>
				<p th:text="${professor.nome}"></p>
			</td>
			<td>
				<p th:text="${professor.email}"></p>
			</td>
			<td>
				<p th:text="${professor.matricula}"></p>
			</td>
			<td>
				<p th:text="${professor.cpf}"></p>
			</td>
			<td>
				<p th:text="${professor.telefone}"></p>
			</td>
			<td>
				<a th:href="@{/professores/__${professor.id}__}"> Ver</a>
			</td>
		</tr>
		</tbody>
	</table>
	
	

</div>
	
  </body>

</html>