<!DOCTYPE html>

<html lang="pt" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'professor')}">
<head>
    <title>Professor</title>
    <meta charset="UTF-8">
</head>

<body>

<div class="container-fluid">
    <h2>Professor</h2>

    <p>Esta view retorna a relação de todos os professores</p>

    <a type="button" th:href="@{/professor/create}">Criar</a>

    <!--
    <table id="professor" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 150px;">NAME</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pro : ${professor}">
            <td>
                <p th:text="${pro.id}"></p>
            </td>
            <td>
                <p th:text="${pro.name}"></p>
            </td>
        </tr>
        </tbody>
    </table>

     -->


</div>

</body>

</html>