<!DOCTYPE html>

<html lang="pt" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'professor')}">
<head>
    <title>Professor</title>
    <meta charset="UTF-8">
</head>

<body>

	<br class="container-fluid"/>

	<h2 class="text-center">Professor</h2>

    <p class="text-center">Veja a lista de professores:</p>
    
    <div th:if="${#messages}"></div>

	<div class="row-cols-3">
		<a th:href="@{/professores/create}" class="btn btn-primary btn-lg">Criar</a>
	</div>

	<br class="container-fluid"/>

<table class="table table-hover table-dark">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nome</th>
				<th scope="col">Email</th>
				<th scope="col">Matricula</th>
				<th scope="col"></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="professor, count : ${professores}">
				<th scope="row" th:text="${count.count}"></th>
				<td><p th:text="${professor.nome}"></p></td>
				<td><p th:text="${professor.email}"></td>
				<td><p th:text="${professor.matricula}"></td>
				<td><a th:href="@{/professores/__${professor.id}__}" class="btn btn-outline-success">Visualizar</a></td>
			</tr>
			</tbody>
		</table>

</body>

</html>