<!doctype html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org" th:fragment="layout (template, menu)">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!-- FavIcon -->
	<link rel="shortcut icon" type="image/x-icon"
		src="../../resources/images/favicon.ico" />
	
	<!-- BootStrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<title>Gerenciamento TCC</title>

</head>

<body>
		
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" th:href="@{/home}">Gerenciamento de TCC</a>

	    <ul class="navbar-nav"> 
	    	
    	<li th:fragment="menuItem (path,active,title,text)"
				class="nav-item active" th:class="${active==menu ? 'active' : ''}">
			<a th:href="@{__${path}__}" th:title="${title}">
				 <span class="px-4 btn btn-secondary"  th:text="${text}">Template</span>
			</a>
		</li>
	    	
	      <li class="nav-item">
	      
        	<a class="nav-link" th:replace="::menuItem ('/alunos','alunos','ALUNO','Alunos')">Alunos</a>
        	
        	<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          		<a class="dropdown-item" href="/alunos/create">Criar</a>
          		<a class="dropdown-item" href="#">Another action</a>
        		<a class="dropdown-item" href="#">Something else here</a>
        	</div>
	        
	      </li>
	      <li class="nav-item" th:replace="::menuItem ('/professor','professores','PROFESSOR','Professores')">     
	        <a class="nav-link">
	        Professores
	        </a> 
	      </li>
	      <li class="nav-item dropdown" th:replace="::menuItem ('/bancas','bancas','BANCA','Bancas')">
        	<a class="nav-link dropdown" href="/bancas" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         		Bancas
        	</a>
	        
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
	          	<a class="dropdown-item" href="/alunos/create">Criar</a>
	          	<a class="dropdown-item" href="#">Another action</a>
	        	<a class="dropdown-item" href="#">Something else here</a>
	        </div>
	        
	    	</li>
	    	<li class="nav-item" th:replace="::menuItem ('/propostas','propostas','PROPOSTA','Propostas')">
	        	<a class="nav-link" href="#">Propostas</a>  
	      </li>
		</ul>  
	</nav>
		
		<div class="">

			<th:block th:include="${template}" />

			<br /> <br />
		</div>

</body>

</html>
