<nav class="navbar navbar-default" role="navigation" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">
                <span></span>
            </a>

            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#main-navbar">

                <span class="sr-only"><os-p>Toggle navigation</os-p></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">

                <li th:fragment="menuItem (path,active,title,glyph,text)"
                    class="active" th:class="${active==menu ? 'active' : ''}"><a
                        th:href="@{__${path}__}" th:title="${title}">
						
						<span th:class="'glyphicon  glyphicon-'+${glyph}"
                              class="glyphicon glyphicon-home" aria-hidden="true"></span> <span
                        th:text="${text}">Template</span>
                </a>

                </li>

                <li th:replace="::menuItem ('/','home','home page','home','Home')">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    <span>Home</span>
                </li>

                <li
                        th:replace="::menuItem ('/alunos','alunos','aluno','th-list','Alunos')">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span>Alunos</span>
                </li>

                <li
                        th:replace="::menuItem ('/professor','professores','professores','th-list','Professores')">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span>Professores</span>
                </li>
                <li
                        th:replace="::menuItem ('/bancas','bancas','bancas','th-list','Bancas')">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span>Banca</span>
                </li>

                <li
                        th:replace="::menuItem ('/login','login','authentication','th-list',
                  			${#httpServletRequest.remoteUser == null ? 
                  	          'LOGIN' : 
                  	          #httpServletRequest.remoteUser})">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    <span>Login</span>
                </li>

            </ul>
        </div>
    </div>
</nav>