<!DOCTYPE html>

<html lang="pt" xmlns:th="https://www.thymeleaf.org" 
th:replace="~{fragments/layout :: layout (~{::body},'sugestoes')}">
	<head>
		<title>Sugestão</title>
	</head>
	
  <body>

    <h2 th:if="${sugestao.id} != null" >Dados da Sugestão:</h2>
    <h2 th:if="${sugestao.id} == null" >Nova Sugestão</h2>
    
    <form th:action="@{/sugestoes/create}" th:method="post" th:object="${sugestao}">
    	
    	<label>Titulo</label>
    	<input id="titulo" th:type="text" th:required="true" th:field="*{titulo}"/>
    	
    	<div class="form-group col-md-6">
            <label>Professores</label>
            <select name="professor" class="form-control" th:field="*{orientador}">
                <option th:value="null" selected>Escolha</option>
                <option th:each="professor : ${professores}" th:value="${professor.id}"
                        th:text="${professor.nome}"></option>
            </select>
        </div>
    	
    	<label>Pesquisa</label>
    	<input id="pesquisa" th:type="checkbox" th:required="true" th:field="*{pesquisa}"/>
    	
    	<label>Descrição</label>
    	<input id="descricao" th:type="text" th:required="true" th:field="*{descricao}"/>
    	
    	<button th:if="${sugestao.id} == null" type="submit">Enviar</button>
    	<button th:if="${sugestao.id} != null" type="submit">Atualizar</button>

		<div th:if="${#fields.hasAnyErrors()}" th:each="err : ${#fields.errors()}">
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<strong th:text="${err}"></strong>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
    	
    </form>
	
  </body>

</html>