body{
    background-color:#2f9e41;
    margin: 0px;
}


.my_form{
    margin-top: 10rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px -2px rgba(0,0,0,.7);
    margin-left:28rem;



}

.form-control{
    padding: 2rem;


}
.form-control:first-of-type{
    border-top-right-radius:0;
    border-top-left-radius: 0;
}

.form-control:last-of-type{
    border-bottom-right-radius:0;
    border-bottom-left-radius: 0;
}

.wrap {
    display: center;
    flex-direction: row;

}
.btn{
    background-color: #2f9e41;
}

