<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org"
                     th:replace="~{fragments/layout :: layout (~{::body},'propostas')}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>

<br class="container-fluid"/>

<h2 class="text-center">Propostas</h2>

<p class="text-center">Veja a lista de propostas:</p>

<div th:if="${#messages}"></div>

<div class="row-cols-3">
    <a th:href="@{/propostas/create}" class="btn btn-primary btn-lg">Criar</a>
</div>

<br class="container-fluid"/>

<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Autor</th>
        <th scope="col">Orientador</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="proposta, count : ${propostasCriadas}">
        <th scope="row" th:text="${count.count}"></th>
        <td><p th:text="${proposta.titulo}"></p></td>
        <td><p th:text="${proposta.autor.nome}"></td>
        <td><p th:text="${proposta.orientador.nome}"></td>
        <td><a th:href="@{/propostas/__${proposta.id}__}" class="btn btn-outline-success">Visualizar</a></td>
        <td>
            <form th:action="@{/propostas/__${proposta.id}__}" th:method="delete" />
            <button th:type="submit" class="btn btn-outline-danger">Excluir</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</div>

</body>

</html>