<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org"
                     th:replace="~{fragments/layout :: layout (~{::body},'propostas')}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>

<div class="container-fluid">

    <h2>Propostas</h2>

    <p>Veja a lista de propostas:</p>
    <a type="button" th:href="@{/propostas/create}">Criar</a>


    <table>
        <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Orientador</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="proposta : ${propostasCriadas}">
            <td>
                <p th:text="${proposta.titulo}"></p>
            </td>
            <td>
                <p th:text="${proposta.autor.nome}"></p>
            </td>
            <td>
                <p th:text="${proposta.orientador.nome}"></p>
            </td>
            <td>
                <a th:href="@{/propostas/__${proposta.id}__}"> Ver</a>
                <a th:href="@{/propostas/delete/__${proposta.id}__}"> Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>



</div>

</body>

</html>